---
// 1. Define your JavaScript variables here, inside the fences
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-content">
    <span>
      {currentYear} Shehata Tech Solutions LLC
    </span>
    
    <span>Copyright &#169; {currentYear}</span>
  </div>
</footer>